<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157100728153-jq0sfrihub6a4qldjkdkgg5uktq6s2vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157100728153-jq0sfrihub6a4qldjkdkgg5uktq6s2vl</string>
	<key>API_KEY</key>
	<string>AIzaSyDt26YR24dH2J3Suf9dnN21T7Yjga0WR2A</string>
	<key>GCM_SENDER_ID</key>
	<string>157100728153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.shopingagent</string>
	<key>PROJECT_ID</key>
	<string>shopingagent-bbe63</string>
	<key>STORAGE_BUCKET</key>
	<string>shopingagent-bbe63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157100728153:ios:b5da38106dcec14803f648</string>
</dict>
</plist>